/* *{
    width: 98%;

}
body {
    margin-right: 2%;
    margin-left: 2%;
} */
.carousel{
    width: 700px;
    height: 380px;
    display: flex;
    justify-self: center;
    margin: 2%;
}

.carousel-item img{
    width: 700px;
    height: 380px;
}
.introduction p,.events p{
    margin-top: 5px; 
    max-width: 600px;
}
.container{

    display: flex;
    justify-content: space-around;
}
.card img{
    height: 160px;
    width: 230px;
}

.card{
    width: 230px;
}

.introduction {
    margin: 1%;
    max-width: 100%;
}

#Home,.News{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.navbar {
    position: sticky; /* Sticks to the top when scrolling */
    top: 0; /* The navbar will stick at the top of the viewport */
    /* padding: 10px; */
    z-index: 1000;
}

.buffettable{
    width: 730px;
}

.row{
    justify-content: space-evenly;
    column-gap: 30px;
}

.events p,.events h3{
    padding-left: 1%;
    
}

#News,#Home{
    margin-bottom: 30px;
}

#News .row{
    margin-bottom: 20px;
}

#Traditional-dishes .Traditional-dishes{
    margin: 30px;
}

footer {
    width: 100%;              /* Full width of the page */
    height: auto;             /* Height of the footer */
    background-color: #F8F9FA;    /* Background color (dark gray in this case) */
    color: dimgrey;              /* Text color */
    text-align: center;        /* Center text horizontally */
    /* line-height: 100px;        / Vertically centers the text / */
    bottom: 0;                 /* Align to the bottom */
    padding: 1%;
}

img[src="nos-chefs.jpg"]{
    width: 900px;
    height: auto;
}
#about-us .card{
    display: flex;
    align-self: center;
    justify-self: center;
    width: 900px;
    height: auto;
}